/* hide box outcomes initially */
.selection-result {
  display: none;
}

/* hide radio buttons */
input[type="radio"]{
  display: none;
}

/* selecting X or O in a box will display selected letter as a result */
input[value="yesX"]:checked + label + input + label + .selection-result,
input[value="yesO"]:checked + label + .selection-result {
  display: inline-block;
  margin-right: -28.6px;
  margin-bottom: -18.33px;
}
  input[value="yesX"]:checked + label + input + label + .selection-result .o {
    display: none;
  }
  input[value="yesO"]:checked + label + .selection-result .x {
    display: none;
  }

/* display win message for X when X achieves 3 in a row */
#UL-X:checked ~ #UM-X:checked ~ #UR-X:checked ~ .winnersbox::after,
#ML-X:checked ~ #MM-X:checked ~ #MR-X:checked ~ .winnersbox::after,
#LL-X:checked ~ #LM-X:checked ~ #LR-X:checked ~ .winnersbox::after,
#UL-X:checked ~ #ML-X:checked ~ #LL-X:checked ~ .winnersbox::after,
#UM-X:checked ~ #MM-X:checked ~ #LM-X:checked ~ .winnersbox::after,
#UR-X:checked ~ #MR-X:checked ~ #LR-X:checked ~ .winnersbox::after,
#UL-X:checked ~ #MM-X:checked ~ #LR-X:checked ~ .winnersbox::after,
#UR-X:checked ~ #MM-X:checked ~ #LL-X:checked ~ .winnersbox::after {
  content: "'X' wins";
}

/* display win message for O when O achieves 3 in a row */
#UL-O:checked ~ #UM-O:checked ~ #UR-O:checked ~ .winnersbox::after,
#ML-O:checked ~ #MM-O:checked ~ #MR-O:checked ~ .winnersbox::after,
#LL-O:checked ~ #LM-O:checked ~ #LR-O:checked ~ .winnersbox::after,
#UL-O:checked ~ #ML-O:checked ~ #LL-O:checked ~ .winnersbox::after,
#UM-O:checked ~ #MM-O:checked ~ #LM-O:checked ~ .winnersbox::after,
#UR-O:checked ~ #MR-O:checked ~ #LR-O:checked ~ .winnersbox::after,
#UL-O:checked ~ #MM-O:checked ~ #LR-O:checked ~ .winnersbox::after,
#UR-O:checked ~ #MM-O:checked ~ #LL-O:checked ~ .winnersbox::after {
  content: "'O' wins";
}
