body * {
 display: inline-block;
 float: left;
 margin-top: 30px;
 border: 1px solid red;
}

.winnersbox {
  font-size: 5em;
  display: block;
  float: none;
}

label:first-of-type,
label:nth-of-type(2n+3) {
  margin-left: 2em;
}

label:nth-of-type(6n+7) {
  clear: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.selection-result {
  font-size: 2em;
  font-weight: bold;
}
