.gamebox {
  display: inline-block;
  float: left;
  color: red;
  height: 5em;
  width: 5em;
  border: 3px solid black;
}

.gamebox:nth-child(3n+4) {
  clear: left;
}

body * {
 display: inline-block;
 float: left;
 margin-top: 10px;
}

input:nth-of-type(2n+3) {
  margin-left: 40px;
}

input:nth-of-type(6n+7) {
  clear: left;
}

.winnersbox {
  font-size: 5em;
}
